.hero {
  margin-bottom: 50px;
}


.swiper-container {
  margin-left: 75px;
  margin-right: 75px;
}

.swiper.hero__swiper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.hero__pagination.swiper-bullet-pagination {
  z-index: 2;
  position: absolute;
  display: flex;
  justify-content: center;
}

.hero-slide-1 {
  background-image: url("/img/hero/1920/hero-pic-1920-1.png");
  /* background-image: url("https://i.ibb.co/XLWQJtD/balcon.png"); */
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 32px;
}

.hero-slide-2 {
  background-image: url("/img/hero/1920/hero-pic-1920-2.png");
  /* background-image: url("https://i.ibb.co/XyXPZ9c/hero-1920-2.png"); */
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 32px;
}

.hero-slide-3 {
  background-image: url("/img/hero/1920/hero-pic-1920-3.png");
  /* background-image: url("https://i.ibb.co/TLq4JLx/hero-1920-3.png"); */
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 32px;
}

.hero__content {
  position: relative;
  z-index: 1;
  padding-top: 100px;
  padding-right: 80px;
  padding-left: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.swiper-pagination-bullet {
  background: var(--light-grey);
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 15px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 15px));
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 12px);
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 25px;
}

.swiper-pagination-bullet-active {
  background: var(--white);
}



.hero__h1 {
  color: white;
  max-width: 837px;
  font-size: 70px;
  margin-bottom: 12px;
  font-family: "Extrabold", sans-serif;
  line-height: 85px;
}

.hero__p {
  color: white;
  font-size: 24px;
  max-width: 790px;
  margin-top: 12px;
  margin-bottom: 45px;
  font-family: "Bold", sans-serif;
  line-height: 29px;
}

.hero__button {
  outline-color: var(--orange);
  padding: 25px 39px;
  background: var(--orange);
  border-radius: 16px;
  color: white;
  font-size: 23px;
  font-family: "Bold", sans-serif;
  margin-top: 45px;
  margin-bottom: 100px;
}

.hero button:focus-visible {
  outline: 0;
  color: white;
  background-color: var(--light-orange);
}

.hero button:hover:not(:focus-visible) {
  color: white;
  background-color: var(--light-orange);
}

.hero button:active:not(:focus-visible) {
  color: white;
  background-color: var(--red);
}