@import url("/fonts/stylesheet.css");
@import url("header.css");
@import url("hero.css");
@import url("about.css");
@import url("how.css");
@import url("faq.css");
@import url("footer.css");

:root {
  --gap: 30px;  
  --orange:#FF9900;
  --light-orange:#FFB84D;
  --red:#E1670E;
  --light-grey: #CACACA;
  --hard-grey: #666666;
  --light-black: #414141;
  --black: #000000;
  --back-color: #E5E5E5;
  --width-plus: calc(60% + 1px);
}

/* calc((100% -(var(--gap)*3))/4)
где 4 - количество элементов
3 - количество отступов */

* {
  box-sizing: border-box;
  border: none;
  /* outline: 2px solid pink; */
}

body{
  font-family: 'Regular', sans-serif;
}

ul {
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding-left: 75px;
  padding-right: 75px;
  /* display: flex; */
}

img {
  max-width: 100%;
}

button {
  border: none;
  text-align: center;
  cursor: pointer;
}