.contacts__points {
  display: flex;
  flex-direction: column;
  outline: solid 1px blue;
  flex-wrap: wrap;
  margin-left: 2rem;
}

.wapper__contacts {
  display: flex;
  /* outline: solid 1px green; */
  padding-top: 1rem;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #fff;
  border-radius: 15px;
  padding-left: 2rem;
}

.wapper__contacts article {
  margin-top: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.contacts__points div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* outline: solid 1px pink; */
  border-bottom: 1px solid #c4c4c4;
}

.contacts__points p {
  width: 15rem;
  outline: solid 1px red;
  display: flex;
  flex-direction: column;
  line-height: 1.5rem;
  margin-left: 2rem;
}

.button__route {
  height: 70px;
  width: 213px;
  padding: 27px 29px;
}