@import url('fonts.css');
@import url('contacts.css');
@import url('allocation.css');
@import url('header.css');
@import url('hero.css');
body {
  background-color: #F1F1F1;
  font-family: 'Muller-Regular', sans-serif;
}

a {
  text-decoration: none;
}


/* glob */

.container {
  margin: 30px 375px;
  position: relative;
  width: 1170px;
}

.btn {
  padding: 13px 20px;
  height: 42px;
  border: 1px solid #CC9933;
  border-radius: 10px;
  color: #CC9933;
  vertical-align: middle;
  background-color: #FFFFFF;
}

.btn-appartaments {
  padding: 13px 20px;
  height: 42px;
  width: 100px;
  border: 1px solid #CC9933;
  border-radius: 10px;
  color: #CC9933;
  vertical-align: middle;
  background-color: #FFFFFF;
}

.btn-arrow {
  position: relative;
  display: flex;
  color: #FFCC66;
  font-size: 16px;
  background: none;
  border: none;
  text-align: center;
  padding-left: 0;
  font-family: 'Muller-Medium', sans-serif;
}

.btn-answerback {
  margin-left: 40px;
  margin-right: 45px;
}


/* about-us */

.about-us-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  font-family: 'Muller-Regular', sans-serif;
}


/* services */

.services-title {
  font-family: 'Muller-Medium', sans-serif;
}

.services-cards {
  display: flex;
  flex-wrap: wrap;
}

.services-card {
  width: 573px;
  height: 330px;
  background-color: #FFFFFF;
  border-radius: 15px;
  margin-bottom: 23px;
}

.services-card:not(:nth-child(2n)) {
  margin-right: 23px;
}

.services-descr {
  margin-top: 0;
}

.services-text {
  width: 402px;
  height: 89px;
  margin-left: 45px;
  margin-top: 26px;
  line-height: 200%;
}


/* benefits */

.benefit-logo {
  margin-top: 40px;
  margin-left: 45px;
  width: 23%;
  height: 23%;
}

.benefits-cards {
  display: flex;
  flex-wrap: wrap;
}

.benefit-card {
  display: flex;
  flex-direction: column;
  width: 275px;
  height: 275px;
  border-radius: 15px;
  background-color: #FFFFFF;
  margin-bottom: 23px;
}

.benefit-card:not(:nth-child(4n)) {
  margin-right: 23px;
}

.benefit-descr {
  margin-left: 45px;
  margin-bottom: 40px;
  width: 188px;
  height: 118px;
  font-family: 'Muller-Regular', sans-serif;
  line-height: 200%;
}


/* blog */

.rectangle-nav {
  margin-right: 56px;
}

.section-title {
  font-size: 40px;
  margin-left: 40px;
}


/* footer */