@font-face {
  font-family: 'Muller-Light';
  src: local('Muller Light'), local('Muller-Light'), url('../fonts/MullerLight.woff2') format('woff2'), url('../fonts/MullerLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller-Regular';
  src: local('Muller Regular'), local('Muller-Regular'), url('../fonts/MullerRegular.woff2') format('woff2'), url('../fonts/MullerRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller-Medium';
  src: local('Muller Medium'), local('Muller-Medium'), url('../fonts/MullerMedium.woff2') format('woff2'), url('../fonts/MullerMedium.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller-Bold';
  src: local('Muller Bold'), local('Muller-Bold'), url('../fonts/MullerBold.woff2') format('woff2'), url('../fonts/MullerBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: #F1F1F1;
  font-family: 'Muller-Regular', sans-serif;
}

a {
  text-decoration: none;
}


/* glob */

.flex {
  display: flex;
}

.container {
  margin: 30px 375px;
  position: relative;
  width: 1170px;
}

.btn {
  padding: 13px 20px;
  height: 42px;
  border: 1px solid #CC9933;
  border-radius: 10px;
  color: #CC9933;
  vertical-align: middle;
  background-color: #FFFFFF;
}

.btn-appartaments {
  padding: 13px 20px;
  height: 42px;
  width: 100px;
  border: 1px solid #CC9933;
  border-radius: 10px;
  color: #CC9933;
  vertical-align: middle;
  background-color: #FFFFFF;
}

.btn-arrow {
  position: relative;
  display: flex;
  color: #FFCC66;
  font-size: 16px;
  background: none;
  border: none;
  text-align: center;
  padding-left: 0;
  font-family: 'Muller-Medium', sans-serif;
}

.btn-answerback {
  margin-left: 40px;
  margin-right: 45px;
}


/* header */

.our-logo {
  display: flex;
  align-items: center
}

.contacts-header-item-link {
  color: #666666;
  font-family: 'Muller-Medium', sans-serif;
  font-size: 20px;
}

.header-first-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.header-logo {
  width: 261px;
  height: 54px;
  margin-right: 40px;
}

.header-btn {
  height: 24px;
  border: none;
  background: none;
  color: #CC9933;
  display: flex;
  align-items: center;
  font-size: 16px;
}

.header-btn a {
  color: #CC9933;
}

.header-nav {
  display: flex;
  background-color: #FFFFFF;
  border-radius: 15px;
  width: 1170px;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}

.header-list {
  margin-left: 0;
  padding-left: 0;
}

.header-list-item {
  list-style-type: none;
  margin-left: 45px;
  color: #666666;
  display: inline-block;
}

.header-list-item:last-child {
  list-style-type: none;
  margin-left: 45px;
  color: #666666;
  display: inline-block;
  margin-right: 56px;
}

.header-link {
  color: inherit;
}


/* hero */

.hero-card-1 {
  background-image: url("../img/hero-card-1.jpg");
  height: 258px;
  width: 573px;
}

.hero-card-2 {
  background-image: url("../img/hero-card-2.jpg");
  height: 258px;
  width: 573px;
  margin-top: 23px;
}

.hero-card-descr .hero-card-title {
  font-size: 40px;
  color: #FFFFFF;
  position: relative;
  flex-direction: row;
  font-family: 'Muller-Bold', sans-serif;
}

.hero-card-descr-2 .hero-card-title {
  font-size: 60px;
  color: #FFFFFF;
  position: relative;
  flex-direction: row;
  font-family: 'Muller-Bold', sans-serif;
}

.hero-card-descr .hero-card-price {
  color: #FFFFFF;
  position: relative;
  font-size: 20px;
  top: 15px;
  display: inline-block;
  width: 100%;
  margin-bottom: 47px;
}

.hero-card-descr-2 .hero-card-price {
  color: #FFFFFF;
  position: relative;
  font-size: 30px;
  top: 15px;
  display: inline-block;
  width: 100%;
  margin-bottom: 47px;
}

.hero-card-descr {
  width: 299px;
  height: 178px;
  position: absolute;
  margin-top: 40px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
}

.hero-card-descr-2 {
  width: 299px;
  height: 178px;
  position: absolute;
  margin-top: 211px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
}

.hero-container {
  position: relative;
}

.hero-cards {
  display: flex;
  position: relative;
  justify-content: space-between;
}

.hero-blog-cards-1 {
  position: relative;
  display: inline-block;
  width: 100px;
}

.hero-blog-cards-2 {
  width: 573px;
  height: 540px;
  background-image: url("../img/hero-card-3.jpg");
  display: inline-block;
  position: relative;
}


/* about-us */

.about-us-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  font-family: 'Muller-Regular', sans-serif;
}


/* services */

.services-title {
  font-family: 'Muller-Medium', sans-serif;
}

.services-cards {
  display: flex;
  flex-wrap: wrap;
}

.services-card {
  width: 573px;
  height: 330px;
  background-color: #FFFFFF;
  border-radius: 15px;
  margin-bottom: 23px;
}

.services-card:not(:nth-child(2n)) {
  margin-right: 23px;
}

.services-descr {
  margin-top: 0;
}

.services-text {
  width: 402px;
  height: 89px;
  margin-left: 45px;
  margin-top: 26px;
  line-height: 200%;
}


/* benefits */

.benefit-logo {
  margin-top: 40px;
  margin-left: 45px;
  width: 23%;
  height: 23%;
}

.benefits-cards {
  display: flex;
  flex-wrap: wrap;
}

.benefit-card {
  display: flex;
  flex-direction: column;
  width: 275px;
  height: 275px;
  border-radius: 15px;
  background-color: #FFFFFF;
  margin-bottom: 23px;
}

.benefit-card:not(:nth-child(4n)) {
  margin-right: 23px;
}

.benefit-descr {
  margin-left: 45px;
  margin-bottom: 40px;
  width: 188px;
  height: 118px;
  font-family: 'Muller-Regular', sans-serif;
  line-height: 200%;
}


/* allocation */

.allocation-cards {
  display: flex;
  flex-wrap: wrap;
}

.allocation-card {
  display: flex;
  width: 374px;
  height: 440px;
  border-radius: 15px;
  background-color: #FFFFFF;
  margin-bottom: 23px;
  flex-direction: column;
}

.allocation-card:not(:nth-child(3n)) {
  margin-right: 23px;
}

.allocation-card:last-child {
  background-image: url("../img/allocation-img-9.jpg");
}

.allocation-btn-arrow {
  margin-top: 373px;
  margin-left: 54px;
}

.allocation-btn-arrow .btn-arrow {
  color: #FFFFFF;
}

.allocation-btn {
  margin-left: 45px;
}

.allocation-price {
  margin-top: 36px;
  margin-left: 45px;
}

.allocation-price-style {
  font-family: 'Muller-Bold', sans-serif;
}

.allocation-hotel {
  margin-left: 45px;
  margin-top: 16px;
}

.allocation-place {
  margin-left: 45px;
  margin-top: 16px;
  margin-bottom: 20px;
  color: #999999;
}


/* blog */

.rectangle-nav {
  margin-right: 56px;
}

.section-title {
  font-size: 40px;
  margin-left: 40px;
}


/* contacts */


/* footer */