.task4 {
  margin-bottom: 40px;
  font-family: 'Open-Sans-Regular', sans-serif;
  font-size: 14px;
  line-height: 24px;
}


.task4__container {
  width: 100%;
  max-width: 399px;
  height: 100%;
  max-height: 310px;
  background-color: var(--white);
  color: var(--light-black);
  display: flex;
  padding: 20px 30px;
}

.simplebar-scrollbar::before {
  background-color: var(--brown);
  width: 6px;
  height: 70px;
}

.simplebar-scrollbar.simplebar-visible:before {
  opacity: 1;

}