.allocation-cards {
  display: flex;
  flex-wrap: wrap;
}

.allocation-card {
  position:relative;
  display: flex;
  width: 374px;
  height: 440px;
  border-radius: 15px;
  background-color: white;
  margin-bottom: 23px;
  flex-direction: column;
}

.allocation-card:not(:nth-child(3n)) {
  margin-right: 23px;
}

.allocation-card:last-child {
  background-image: url("../img/allocation-img-9.jpg");
  background-repeat: no-repeat;

}

.allocation-btn-arrow {
  margin-top: 373px;
  margin-left: 54px;
}


.allocation-btn {
  margin-left: 45px;
}

.allocation-price {
  margin-top: 36px;
  margin-left: 45px;
}

.allocation-price-style {
  font-family: 'Muller-Bold', sans-serif;
}

.allocation-hotel {
  margin-left: 45px;
  margin-top: 16px;
}

.allocation-place {
  margin-left: 45px;
  margin-top: 16px;
  margin-bottom: 20px;
  color: var(--dark-grey);
}

.btn-appartaments {
  padding: 13px 20px;
  height: 42px;
  width: 100px;
  border: 1px solid var(--middle-brown);
  border-radius: 10px;
  color: var(--middle-brown);
  vertical-align: middle;
  background-color: white;
  transition-property: background-color;
  transition: 0.2s ease-in-out;
}

.btn-appartaments:focus-visible {
  outline:0;
  color: white;
  background-color: var(--middle-brown);
}

.btn-appartaments:hover:not(:focus-visible) {
  color: white;
  background-color: var(--middle-brown);
}

.btn-appartaments:active:not(:focus-visible) {
  color: white;
  background-color: var(--dark-brown);
}

.allocation-card .card__link{
  align-self: flex-start;
  display: flex;
  align-items: center;
  color:white;
  stroke: white;
  font-family: 'Muller-Medium', sans-serif;
}


.allocation-card .card__link:hover svg {
  transform: translateX(5px);
  stroke: var(--light-brown);
}

.allocation-card .card__link:hover:not(:focus-visible) {
  color: var(--light-brown);
}

svg {
  transition: transform .2s ease-in-out;
}

.allocation-card .card__link:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  outline: 2px solid var(--middle-brown);
  outline-offset: 5px;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.allocation-card .card__link:focus-visible {
  outline: 0;
  color: var(--middle-brown);
  stroke: var(--middle-brown);
}


.allocation-card .card__link:focus-visible:before {
  opacity: 1;
}


.allocation-card .card__link:active {
  color: var(--dark-brown);
  stroke:var(--dark-brown);
}

