.contacts__points {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 2rem;
  font-family: 'Muller-Medium', sans-serif;
}

.wrapper__contacts {
  display: flex;
  padding-top: 1rem;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: white;
  border-radius: 15px;
  padding-left: 1rem;
}

.wrapper__contacts article {
  margin-top: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.contacts__points div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px solid var(--middle-grey);
}

.contacts__points p {
  width: 15rem;
  display: flex;
  flex-direction: column;
  line-height: 1.5rem;
  margin-left: 2rem;
}

.contacts__points a {
  color: var(--middle-brown);
  width: 146px;
  height: 24px;
  transition-property: color;
  transition: 0.2s ease-in-out;
}

.contacts__points a:focus-visible {
  outline:0;
  outline:2px solid var(--middle-brown);
  outline-offset:2px;
  color: var(--middle-brown);
}

.contacts__points a:hover:not(:focus-visible) {
  color: var(--l-m-brown);
}

.contacts__points a:active:not(:focus-visible) {
  color: var(--dark-brown);
}




.contacts__points p span {
  color: var(--dark-grey);
  ;
}

.button__route {
  height: 70px;
  width: 213px;
  margin-top: 5rem;
  border: 1px solid var(--middle-brown);
  border-radius: 10px;
  color: var(--middle-brown);
  vertical-align: middle;
  background-color: white;
  transition-property: background-color;
  transition: 0.2s ease-in-out;
}


.button__route:focus-visible {
  outline:0;
  color: white;
  background-color: var(--middle-brown);
}

.button__route:hover:not(:focus-visible) {
  color: white;
  background-color: var(--middle-brown);
}

.button__route:active:not(:focus-visible) {
  color: white;
  background-color: var(--dark-brown);
}