.footer__wrapper {
  display: flex;
  justify-content: space-between;
  background-color: var(--dark-black);
  border-radius: 15px;
  color: white;
  line-height: 1.7rem;
  background-image: url(/img/footer.png);
  background-repeat: no-repeat;
  background-position: right 11rem bottom;
  height: 21rem;
  font-family: 'Muller-Medium', sans-serif;
}

.footer__info {
  margin-top: 1.7rem;
  margin-right: 10rem;
}

.footer__info a{
  color: var(--middle-brown);
  transition-property: color;
  transition: 0.2s ease-in-out;
}

.footer__info a:focus-visible {
  outline:0;
  outline:2px solid var(--middle-brown);
  outline-offset:2px;
  color: var(--middle-brown);
}

.footer__info a:hover:not(:focus-visible) {
  color: var(--l-m-brown);
}

.footer__info a:active:not(:focus-visible) {
  color: var(--dark-brown);
}



.footer__info,
.footer__info>p {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.footer__info>p {
  align-items: flex-start
}

.footer__wrapper a {
  color: var(--middle-brown);
}

.footer__wrapper article div {
  display: flex;
  flex-direction: column;
  width: 320px;
  align-content: space-between;
}

.footer__descr {
  margin-top: 1.7rem;
  margin-left: 2.9rem;
  gap: 1rem;
}

.footer__descr>p {
  color: var(--middle-brown);
}

.footer__social {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-right: 3.2rem;
}

ul {
  list-style: none;
  padding: 0;
}

.footer__social ul{
  display: flex;
  max-width: 25px;
  height: 205px;
  flex-direction:column;
  justify-content: space-between;
}

li a path{
  transition-property: fill;
  transition: .3s ease-in-out;
}

li a:focus-visible path,

li a:hover path {
  outline:0;
  fill: var(--middle-brown);

}

li a:active path {
  fill: var(--dark-brown);
  opacity: 0.4;
}