.our-logo {
  display: flex;
  align-items: center
}



.contacts-header-item-link {
  color: #666666;
  font-family: 'Muller-Medium', sans-serif;
  font-size: 20px;
}

.contacts-header-item-link:focus-visible {
  outline:0;
  outline:2px solid #CC9933;
  outline-offset:5px;
  color: #CC9933;
  font-family: 'Muller-Medium', sans-serif;
  font-size: 20px;
}

.contacts-header-item-link:hover:not(:focus-visible) {
  color: #CC9933;
  font-family: 'Muller-Medium', sans-serif;
  font-size: 20px;
}

.contacts-header-item-link:active:not(:focus-visible) {
  color: #A47312;
  font-family: 'Muller-Medium', sans-serif;
  font-size: 20px;
}



.header-first-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.header-logo {
  width: 261px;
  height: 54px;
  margin-right: 40px;
}

.header-first-line>a {
  display:flex;
  color: #CC9933;
  fill:#CC9933;
  align-items: center;
  justify-content:center;
  max-width:165px;
  max-height:34px; 
  
}

.header-first-line>a:focus-visible {
  outline:0;
  outline:2px solid #E9C479;
  outline-offset:5px;
  color: #CC9933;
  fill: #CC9933;
}

.header-first-line>a:hover:not(:focus-visible) { 
  color: #E9C479;
  fill:#E9C479;
}

.header-first-line>a:active:not(:focus-visible) {
  color: #A47312;
  fill:#A47312;
}

.header-nav {
  display: flex;
  background-color: #FFFFFF;
  border-radius: 15px;
  width: 1170px;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}

.header-list {
  margin-left: 0;
  padding-left: 0;
}

.header-list-item {
  list-style-type: none;
  margin-left: 45px;
  color: #666666;
  display: inline-block;
}

.header-list-item:last-child {
  list-style-type: none;
  margin-left: 45px;
  color: #666666;
  display: inline-block;
  margin-right: 56px;
}

.header-link {
  color: inherit;
}

.header-link:focus-visible {
  outline:0;
  outline:2px solid #CC9933;
  outline-offset:5px;
  color: #CC9933;
}

.header-link:hover:not(:focus-visible) {
  color: #CC9933;
}

.header-link:active:not(:focus-visible) {
  color: #A47312;
}

.btn-answerback {
  margin-left: 40px;
  margin-right: 45px;
}