.our-logo {
  display: flex;
  align-items: center
}



.contacts-header-item-link {
  color: var(--light-black);
  font-family: 'Muller-Medium', sans-serif;
  font-size: 20px;
  transition-property: color;
  transition: 0.2s ease-in-out;
}

.contacts-header-item-link:focus-visible {
  outline:0;
  outline:2px solid var(--middle-brown);
  outline-offset:5px;
  color: var(--middle-brown);
  font-family: 'Muller-Medium', sans-serif;
  font-size: 20px;
}

.contacts-header-item-link:hover:not(:focus-visible) {
  color: var(--middle-brown);
  font-family: 'Muller-Medium', sans-serif;
  font-size: 20px;
}

.contacts-header-item-link:active:not(:focus-visible) {
  color: var(--dark-brown);
  font-family: 'Muller-Medium', sans-serif;
  font-size: 20px;
}



.header-first-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.header-logo {
  width: 261px;
  height: 54px;
  margin-right: 40px;
}

.header-first-line>a {
  display:flex;
  color: var(--middle-brown);
  fill:var(--middle-brown);
  align-items: center;
  justify-content:center;
  max-width:165px;
  max-height:34px;
  transition-property: color, fill;
  transition: 0.2s ease-in-out; 
  
}

.header-first-line>a:focus-visible {
  outline:0;
  outline:2px solid var(--light-brown);
  outline-offset:5px;
  color: var(--middle-brown);
  fill: var(--middle-brown);
}

.header-first-line>a:hover:not(:focus-visible) { 
  color: var(--light-brown);
  fill: var(--light-brown);
}

.header-first-line>a:active:not(:focus-visible) {
  color: var(--dark-brown);
  fill:var(--dark-brown);
}

.header-nav {
  display: flex;
  background-color: white;
  border-radius: 15px;
  width: 1170px;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}

.header-list {
  margin-left: 0;
  padding-left: 0;
}

.header-list-item {
  list-style-type: none;
  margin-left: 45px;
  color: var(--light-black);
  display: inline-block;
}

.header-list-item:last-child {
  list-style-type: none;
  margin-left: 45px;
  color: var(--light-black);
  display: inline-block;
  margin-right: 56px;
}

.header-link {
  color: inherit;
  transition-property: color;
  transition: 0.2s ease-in-out; 
  
}

.header-link:focus-visible {
  outline:0;
  outline:2px solid var(--middle-brown);
  outline-offset:5px;
  color: var(--middle-brown);
}

.header-link:hover:not(:focus-visible) {
  color: var(--middle-brown);
}

.header-link:active:not(:focus-visible) {
  color: var(--dark-brown);
}

.btn-answerback {
  margin-left: 40px;
  margin-right: 45px;
}