.services-title {
  font-family: 'Muller-Medium', sans-serif;
}

.services-cards {
  display: flex;
  flex-wrap: wrap;
}

.services-card {
  width: 573px;
  height: 330px;
  background-color: #FFFFFF;
  border-radius: 15px;
  margin-bottom: 23px;
  position:relative;
}

.services-card:not(:nth-child(2n)) {
  margin-right: 23px;
}

.services-descr {
  margin-top: 0;
}

.services-text {
  width: 402px;
  height: 89px;
  margin-left: 45px;
  margin-top: 26px;
  line-height: 200%;
}


.services-card .card__link{
  align-self: flex-start;
  display: flex;
  align-items: center;
  color:#CC9933;
  stroke: #CC9933;
  font-family: 'Muller-Medium', sans-serif;
}


.services-card .card__link:hover svg {
  transform: translateX(5px);
  stroke: #E9C479;
}

.services-card .card__link:hover:not(:focus-visible) {
  color: #E9C479;
}

svg {
  transition: transform .2s ease-in-out;
}

.services-card .card__link:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  outline: 2px solid #CC9933;
  outline-offset: 5px;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}
.services-card .card__link:focus-visible {
  outline: 0;
  color: #CC9933;
  stroke: #CC9933;
}


.services-card .card__link:focus-visible:before {
  opacity: 1;
}


.services-card .card__link:active {
  color: #A47312;
  stroke:#A47312;
}

