

.services-cards {
  display: flex;
  flex-wrap: wrap;
}

.services-card {
  width: 573px;
  height: 330px;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 23px;
  position:relative;
}

.services-card img{
  border-radius: 15px 15px 0 0;
}


.services-card:not(:nth-child(2n)) {
  margin-right: 23px;
}

.services-descr {
  margin-top: 0;
}

.services-text {
  width: 402px;
  height: 89px;
  margin-left: 45px;
  margin-top: 26px;
  line-height: 200%;
}


.services-card .card__link{
  align-self: flex-start;
  display: flex;
  align-items: center;
  color:var(--middle-brown);
  stroke: var(--middle-brown);
  font-family: 'Muller-Medium', sans-serif;
  font-size: 20px;
}


.services-card .card__link:hover svg {
  transform: translateX(5px);
  stroke: var(--light-brown);
}

.services-card .card__link:hover:not(:focus-visible) {
  color: var(--light-brown);
}

svg {
  transition: transform .2s ease-in-out;
}

.services-card .card__link:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  outline: 2px solid var(--middle-brown);
  outline-offset: 5px;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}
.services-card .card__link:focus-visible {
  outline: 0;
  color: var(--middle-brown);
  stroke: var(--middle-brown);
}


.services-card .card__link:focus-visible:before {
  opacity: 1;
}


.services-card .card__link:active {
  color: var(--dark-brown);
  stroke: var(--dark-brown);
}

