@import url('fonts.css');
@import url('contacts.css');
@import url('allocation.css');
@import url('header.css');
@import url('hero.css');
@import url('services.css');
@import url('benefits.css');
@import url('blog.css');
@import url('footer.css');

:root {
  --light-brown: #E9C479;
  --l-m-brown: #E9C379;
  --middle-brown: #CC9933;
  --dark-brown: #A47312;
  --dark-grey: #999999;
  --light-grey: #F1F1F1;
  --lm-grey: #E1E1E1;
  --middle-grey: #c4c4c4;
  --light-black: #666666;
  --dark-black: #333333;
  --light-orange: #FFCC66;
}

/* var(--light-orange) */

body {
  background-color: var(--light-grey);
  font-family: 'Muller-Regular', sans-serif;
}

a {
  text-decoration: none;
}


/* glob */

.container {
  margin: 30px 375px;
  position: relative;
  width: 1170px;
}

.btn {
  padding: 13px 20px;
  height: 42px;
  border: 1px solid var(--middle-brown);
  border-radius: 10px;
  color: var(--middle-brown);
  vertical-align: middle;
  background-color: white;
  transition-property: background-color;
  transition: 0.2s ease-in-out; 
}

.btn:focus-visible {
  outline:0;
  color: white;
  background-color: var(--middle-brown);
}

.btn:hover:not(:focus-visible) {
  color: white;
  background-color: var(--middle-brown);
}

.btn:active:not(:focus-visible) {
  color: white;
  background-color: var(--dark-brown);
}

.btn-arrow {
  position: relative;
  display: flex;
  align-items: center;
  color: var(--light-orange);
  font-size: 16px;
  background: none;
  border: none;
  text-align: center;
  padding-left: 0;
  font-family: 'Muller-Medium', sans-serif;
}

.section-title {
  font-size: 40px;
  margin-left: 40px;
  font-weight: 400;
  line-height: 40px;
}

.rectangle-nav {
  margin-right: 56px;
}





/* about-us */

.about-us-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  font-family: 'Muller-Regular', sans-serif;
}

