.about {
  background-color: var(--white);
  /* margin-bottom: 80px; */
  margin-bottom: 77px;
  margin-top: 80px;
}

.about__container {
  display: flex;
  flex-direction: column;
}

.about__top__content{
  margin-bottom: 24px;
}

.about__top__content__img{
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}


.about__blog2 {
  display: flex;
  font-family: 'Roboto-Bold', san-serif;
}

.about__blog2__item {
  display: flex;

}



.about__img {
  width: 100%;
}

.about__h2 {
  font-family: 'Roboto-Bold', san-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  max-width: 380px;
  width: 100%;
  /* margin-bottom: var(--gap); */
  margin-bottom: 16px;
}

.about__descr {
  width: 100%;
  max-width: 585px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.about__blog2__item{
  width: 100%;
  max-width: 350px;
  align-items: center;
}

.about__blog2__item svg{
  margin-right: var(--gap);
  width: 100%;
  max-width: 80px;
  height: 100%;
  max-height: 80px;
}

.about__blog2__item:not(:last-child) {
  margin-right: var(--gap);
}

.about__blog2__descr{
  display: flex;
  align-items: center;
  text-align: start;

}