.header {
  background-color: var(--blue);
  color: var(--white);
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.header__content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header__logo {
  margin-right: auto;
  display: flex;
  align-items: center;
}

.header__nav__list__item:not(:first-child) {
  margin-left: 66px;
  align-items: center;
}


.header__burger{
  display: none;
  width: 21px;
}
