body{
  background-color:#F1F1F1;
}
a {
  text-decoration: none;
}
#hero {

}
#about-us {
}
#services {
}
#benefits {
}
#allocation {
}
#blog {
}
#contacts {
}
.header {
}
.main {
}
.footer {
}
.container {
  margin: 30px 375px;
}
.hero {
}
.about-us {
}
.services {
}
.benefits {
}
.allocation {
}
.blog {
}
.contacts {
}

.header-first-line {
  display: flex;
  margin-bottom: 30px;
}

.header-logo {
  width: 261px;
  height: 54px;
  margin-right: 40px;
  /*margin-bottom: -20px;*/
  /*display: inline-block;*/
}
.contacts-item-link {
  color: #666666;
  margin-top: 20px;
  /*text-align: center;*/
  /*display: inline-block;*/
  
}
.logo-header-cab {

}
.header-btn {
  height: 24px;
  width: 155px;
  border: none;
  background: none;
  color: #CC9933;
  display: inline-block;
  margin-left: 550px;
}

.header-btn span {
  margin-bottom: 50px;
}

.header-nav {
  background-color: #FFFFFF;
  border-radius: 15px;
}
.btn {
}
.header-list {
  
}
.hero-container {
}
.section-title.about-us {
}
.section-descr.about-us-descr {
}
.section-title.services-title {
}
.services-cards {
}
.section-title.benefits-title {
}
.benefits-cards {
}
.section-title.allocation-title {
}
.allocation-cards {
}
.section-title.blog-title {
}
.blog-searching {
}
.header-list-item {
  list-style-type: none;
  margin-left: 45px;
  margin-top: 27px;
  display: inline-block;
}
.section-title.hero-title {
}
.hero-cards {
}
.services-cards-blog-1 {
}
.services-cards-blog-2 {
}
.benefits-cards-blog-1 {
}
.benefits-cards-blog-2 {
}
.allocation-cards-blog-1 {
}
.allocation-cards-blog-2 {
}
.allocation-cards-blog-3 {
}
.header-link {
  
}
.hero-blog-cards-1 {
}
.hero-blog-cards-2 {
}
.services-card {
}
.btn-arrow {
}
.section-descr.services-descr {
}
.benefit-card {
}
.allocation-card {
}
.hero-card {
}
.hero-card-title {
}
.hero-card-price {
}
.arrow {
}
.benefit-logo {
}
.benefit-descr {
}
.allocation-price {
}
.allocation-rating {
}
.allocation-hotel {
}
.allocation-place {
}
